################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Euclidean_algo/.vs/Euclidean_algo

/Euclidean_algo/x64/Debug
